<div class='col-xs-10 col-xs-offset-1'>
  <h1>Welcome to RepairBot!</h1>
  <h2><i>The easiest way to keep track of your clients devise repairs.</i></h2>
  <%= image_tag 'tech_comp.jpg', :class => 'img-responsive' %>
</div>
