////////////////////////
//    HTML ELEMENTS   //
///////////////////////

body {
  padding-top: 100px;
}


/////////////////////////
//    NAVBAR          //
////////////////////////
.navbar.navbar-default {
  height: 100px;
}

.navbar-brand {
  font-size: 1.8em;
}

.navbar-right {
  margin-top: 25px;
  font-size: 1.4em;
}

.logo {
  max-height: 50px;
}

.logo-section {
  margin-top: 25px;
}



////////////////////////
//    BODY CONTENT    //
///////////////////////
.clear {
  clear: both;
}
