////////////////////////
//    HTML ELEMENTS   //
///////////////////////

body {
  padding-top: 150px;
}


/////////////////////////
//    NAVBAR          //
////////////////////////
.navbar.navbar-default {
  height: 100px;
  background: #fff;
  box-shadow: 0px 1px 15px #ccc;
}

.navbar-brand {
  font-size: 1.8em;
}

.navbar-right {
  margin-top: 25px;
  margin-right: 20px;
  font-size: 1.4em;
}

.navbar-toggle {
  height: 40px;
  margin-top: 30px;
}

.navbar-collapse {
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .navbar-collapse {
    box-shadow: 0px 1px 15px #ccc;
  }
}

.logo {
  max-height: 50px;
}

.logo-section {
  margin-top: 25px;
  margin-left: 20px;
}



////////////////////////
//    BODY CONTENT    //
///////////////////////
.clear {
  clear: both;
}
